<div class="single">
  {{ partial "default_head.html" . }}

  <div class="row">
    <div class="col-sm-9">

      <article class="single" itemscope="itemscope" itemtype="http://schema.org/Article">

        <meta itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" content="{{ .Site.BaseURL }}"/>
        <meta itemprop="dateModified" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
        <meta itemprop="headline" content="{{ .Title }}">
        <meta itemprop="description" content="{{ .Summary }}">
        <meta itemprop="url" content="{{ .Permalink }}">
        <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
          <meta itemprop="url" content="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }}" />
          <meta itemprop="width" content="800">
          <meta itemprop="height" content="800">
        </div>
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
          <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="{{ .Site.BaseURL }}images/logo.jpg">
            <meta itemprop="width" content="100">
            <meta itemprop="height" content="100">
          </div>
          <meta itemprop="name" content="{{ .Site.Title }}">
        </div>
        <div itemprop="author" itemscope itemtype="https://schema.org/Person">
          <meta itemprop="name" content="{{ .Site.Params.Author }}">
        </div>

        {{ if isset .Params "image" }}
        <div class="image" style="background-image: url({{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }});"></div>
        {{ end }}

        <header class="article-header">
          <!--<time itemprop="datePublished" pubdate="pubdate" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>-->
          <h1 class="article-title">{{ .Title }}</h1>
        </header>

        <div class="article-body" itemprop="articleBody">
          {{ .Content }}
        </div>

      </article>
    </div>

    <div class="col-sm-3 hidden-xs">
      {{ partial "sidebar.html" . }}
    </div>

  </div>

  {{ partial "default_foot.html" . }}
</div>
