<div class="index">
  {{ partial "default_head.html" . }}
  <div class="row">
    <div class="col-sm-9">

      <!--<div class="articles">
        <div class="row">
          {{ range $key, $value := .Paginator.Pages }}
          <div class="col-sm-{{ if lt $key 4 }}6{{ else }}4{{ end }}">
            {{ .Render "li" }}
          </div>
          {{ end }}
        </div>
      </div>-->

        
      <div class="list">
      {{ range $categoryName, $categoryList := .Site.Taxonomies.categories}}


        <header class="title"><h1>{{ $categoryName }}</h1></header>
        <div class="row">

          {{ range $categoryList.Pages }}
            <div class="col-sm-4">
            {{ .Render "li"}} 
            </div>
          {{ end }}

        </div>

      {{ end }}
      </div>

    </div>

    <div class="col-sm-3">
      {{ partial "sidebar.html" . }}
    </div>

  </div>
  {{ partial "default_foot.html" . }}
</div>
