<div class="index">
  {{ partial "default_head.html" . }}
  <div class="row">

    
    <div class="col-sm-9 col-xs-8">

      <div class="list">
      {{ range $count, $value := .Site.Taxonomies.categories.ByCount}}


        <header class="title"><h1>{{ $value.Name | title }}</h1></header>
        <div class="row">

          {{ range $value.Pages }}
            <div class="col-sm-4">
            {{ .Render "licard"}} 
            </div>
          {{ end }}

        </div>

      {{ end }}
      </div>

    </div>

    <div class="col-sm-3 col-xs-4">
      {{ partial "sidebar.html" . }}
    </div>

  </div>

  {{ partial "default_foot.html" . }}

</div>
